
# ---------------------------
# Prerequisites:
# ---------------------------

fastapi
uvicorn
pydantic
torch
joblib
boto3
pandas
python-dotenv
dill



# Pour construire l'image, utilisez la commande suivante dans le terminal :
# docker build -t petit-bout-job-api .
# Pour lancer le conteneur, utilisez la commande suivante :
# docker run -d -p 8000:8000 petit-bout-job-api

# python -m venv venv
# .\venv\Scripts\activate
# pip freeze > requirements.txt
# pip install -r requirements.txt
# pip install fastapi uvicorn scikit-learn pandas joblib

# uvicorn app:app --reload
# uvicorn main:app --reload

#GIT
#git clone https://github.com/Akuma-teck/Radarr-metier
#git add . 
#git commit -m "Ajout de nouveaux fichiers"
#git push origin main

